<div class="col-lg-12">
    <div style="text-align: right;">
        <button (click)="logout()">Sair</button>
    </div>
    <div class="container">
        <h2>Anuncios</h2>
        <ul class="ads">
            <li *ngFor="let ad of ads">
                <a routerLink="/ad-detail/{{ad.id}}">
                    <span class="badge">{{ad.value}}</span> {{ad.title}}
                </a>
                <a><button class="delete" title="Deletar Anúncio" (click)="deleteAd(ad.id)">x</button></a>
            </li>
        </ul>
        <a routerLink="/create-ad">
            <button class="add form-control">Inserir Anúncio</button>
        </a>
    </div>
</div>