<div class="container" style="text-align: center; margin-top: 30px;">
    <h1>
        Login
    </h1>

    <div style="margin-top: 20px;">
        <input class="form-control" #username type='text' placeholder='Usuário'><br>
        <input class="form-control" #password type='password' placeholder='Senha'><br>
        <button class="form-control" (click)="login(username.value, password.value) ">Entrar</button>
        <p>{{ error?.message }}</p>
        <p *ngIf="error ">{{ error?.error | json }}</p>

        <a routerLink="/signup">Não tem cadastro? Cadastre-se</a>
    </div>
</div>