<div class="container">
    <div class="row">
        <form class="input-field col s6">
            <input class="form-control" #title type="text" placeholder="Título" /><br>
            <input class="form-control" #description type="text" placeholder="Descrição" /><br>
            <input class="form-control" #value type="number" placeholder="Valor" /><br>

            <button class="add form-control" (click)="addAd(title.value, description.value, value.value)">Inserir Anúncio</button>
        </form>
    </div>

    <div>
        <p>{{ error?.message }}</p>
        <p *ngIf="error ">{{ error?.error | json }}</p>
    </div>
</div>